<h2>Users from API</h2>

<input
  type="text"
  [(ngModel)]="searchText"
  placeholder="Search User">

<br><br>

<div *ngFor="let user of users">

  <div *ngIf="
    user.name.toLowerCase().includes(
    searchText.toLowerCase())">

    <button (click)="selectUser(user)">
      {{ user.name }}
    </button>

    <br>

    {{ user.email }}

    <hr>

  </div>

</div>

<div *ngIf="selectedUser">

  <h3>User Details</h3>

  <p><strong>Name:</strong> {{ selectedUser.name }}</p>

  <p><strong>Email:</strong> {{ selectedUser.email }}</p>

  <p><strong>Phone:</strong> {{ selectedUser.phone }}</p>

  <p><strong>Website:</strong> {{ selectedUser.website }}</p>

  <p><strong>Company:</strong> {{ selectedUser.company.name }}</p>

</div>